{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div id="accueil">
        <div id="compte_a_rebours">
            <h2 id="nb_j"></h2>
            <h2 id="jours"></h2>
        </div>
        <div id="infos">
            <h2 id="participant">xx Participants</h2>
            <h2 id="miage">22 MIAGE</h2>
            <h2 id="partenaire">xx Partenaires</h2>
        </div>
    </div>
    <div id="nanterre">
        <div id="photo">
            <h2 id="nb_j">nnnnnnnn</h2>
        </div>
        <div id="infos_n">
            <h2 id="participant">fffff</h2>
            <h2 id="miage">rrrrr</h2>
            <h2 id="partenaire">yyyyyy</h2>
        </div>
    </div>
    <script type="text/javascript">
        let nb_jours = document.getElementById('nb_j');
        let j = document.getElementById('jours');


        let date_actuelle = new Date();
        let date_evenement = new Date("May 2 00:00:00 2023");
        let total_secondes = (date_evenement - date_actuelle) / 1000;
        let jours = Math.floor(total_secondes / (60 * 60 * 24));


        let mot_jour = "Jours";


        if (jours === 0) {
            jours = '';
            mot_jour = '';
        }
        else if (jours === 1)
        {
            mot_jour = "Jour";
        }

        nb_jours.innerHTML = jours;
        j.innerHTML = mot_jour;






    </script>

{% endblock %}
