{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <a href="{{ path('reservation_app_logement') }}" class="log">Logement</a>
<style>

    .log {
        margin: auto;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: FreeMono, monospace;
    }
</style>


{% endblock %}
