<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
        <a href="#" class="logo">JNM</a>
        <ul>
            <li><a{%if app.request.get('_route') == 'app_homepage' %} class="active"{% endif %} href="{{ path('app_homepage') }}">Infos & Communications</a></li>
            <li><a{%if app.request.get('_route') == 'app_reservation' %} class="active"{% endif %} href="{{ path('app_reservation') }}">Réservation</a></li>
            <li><a href="#" {%if app.request.get('_route') == '' %} class="active"{% endif %}>Concours</a></li>
            <li><a href="#" {%if app.request.get('_route') == '' %} class="active"{% endif %}>Nos Partenaires</a></li>
            <li><a href="#" {%if app.request.get('_route') == '' %} class="active"{% endif %}>Connexion</a></li>
            <li><a href="#" {%if app.request.get('_route') == '' %} class="active"{% endif %}>Admin</a></li>
        </ul>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
